<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flow.coretime.elecApproval.mapper.ElecApprovalHistoryMapper">

    <insert id="insertApprovalHistory" parameterType="com.flow.coretime.elecApproval.model.ElecApprovalHistoryRespDto"
        useGeneratedKeys="true" keyProperty="historyId">
        INSERT INTO approval_history (
            doc_id,
            approver_id,
            approval_status,
            comments,
            action_date,
            approval_order
        ) VALUES (
            #{docId},
            #{approverId},
            #{approvalStatus},
            #{comments}, NOW(),
            #{approvalOrder} )
    </insert>

    <insert id="insertApprovalHistories">
        INSERT INTO approval_history (
            doc_id, 
            approver_id, 
            approval_order, 
            approval_status,
            action_date
        ) VALUES 
        <foreach collection="histories" item="h" separator=",">
        (
            #{h.docId}, 
            #{h.approverId}, 
            #{h.approvalOrder}, 
            #{h.approvalStatus},
            #{h.actionDate}
        )
        </foreach>
    </insert>


    <insert id="insertApprovalHistoryEntities">
        INSERT INTO approval_history (
            doc_id, 
            approver_id, 
            approval_status,
            action_date,
            approval_order
        ) VALUES 
        <foreach collection="histories" item="h" separator=",">
        (
            #{h.docId}, 
            #{h.approverId}, 
            #{h.approvalStatus},
            #{h.actionDate},
            #{h.approvalOrder}
        )
        </foreach>
    </insert>

    <update id="updateApprovalHistory" parameterType="com.flow.coretime.elecApproval.model.ElecApprovalHistoryRespDto">
        UPDATE approval_history
        SET
            approval_status = #{approvalStatus},
            comments = #{comments}, 
            action_date = #{actionDate}
        WHERE
            history_id = #{historyId}
    </update>

    <select id="getCurrentApprovalHistory" resultType="com.flow.coretime.elecApproval.model.ElecApprovalHistoryRespDto">
        SELECT
            history_id,
            doc_id,
            approver_id,
            approval_order,
            approval_status,
            comments,
            action_date
        FROM
            approval_history
        WHERE
            doc_id = #{docId}
            AND approval_status = 'PENDING'
        ORDER BY
            approval_order ASC
        LIMIT 1 
    </select>

    <select id="getNextApprovalHistory" resultType="com.flow.coretime.elecApproval.model.ElecApprovalHistoryRespDto">
        SELECT
            AH.history_id,
            AH.doc_id,
            AH.approver_id,
            AH.approval_order,
            AH.approval_status,
            AH.comments,
            AH.action_date,
            U.name AS approver_name,
            U.rank_name AS approver_rank 
        FROM
            approval_history AH
        JOIN
            users U ON AH.approver_id = U.id
        WHERE
            AH.doc_id = #{docId}
            AND AH.approval_order = #{currentOrder} + 1
        ORDER BY
            AH.approval_order ASC
        LIMIT 1 
    </select>

    <delete id="deleteHistoryByDocId" parameterType="int">
        DELETE FROM approval_history
        WHERE doc_id = #{docId}
    </delete>

    <select id="findApprovalHistoryByDocId" resultType="com.flow.coretime.elecApproval.model.ElecApprovalHistoryRespDto">
        SELECT
            AH.history_id,
            AH.doc_id,
            AH.approver_id,
            AH.approval_order,
            AH.approval_status,
            AH.comments,
            AH.action_date,
            U.name AS approver_name,
            U.rank_name AS approver_rank,
            U.position AS approver_position,
            U.department AS approver_department
        FROM
            approval_history AH
        JOIN
            users U ON AH.approver_id = U.id
        WHERE
            AH.doc_id = #{docId}
        ORDER BY
            AH.approval_order ASC
    </select>

    <select id="isUserInApprovalLine" resultType="int">
        SELECT COUNT(*)
        FROM approval_history
        WHERE doc_id = #{docId} AND approver_id = #{userId}
    </select>


</mapper>